.husky input[type="text"], .husky-ui-input-text, .husky-ui-button, .husky-ui-select-box {
	font-size: 1em;
	line-height: 1.75em;
	padding-top:0;
	padding-bottom: 0;
	border-radius: 3px;
}

.husky input[type="text"], .husky-ui-input-text {
	width: 100%;
}

.husky input[type="text"],
.husky-ui-input-text,
.husky-ui-button,
.husky-ui-select-box,
.husky-ui-select-box-options {
	border: 1px solid #bbbbbb;
}

.husky input[type="text"]:hover,
.husky-ui-input-text:hover,
.husky-ui-select-box:hover,
.husky-ui-select-box-options:hover
{
	border: 1px solid #999999;
}

.husky-ui-button {
	line-height: 2em;
	padding: 0 10px 0 10px;
}

/* select box */

.husky-ui-select-box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.husky-ui-select-box .text {
	padding: 0 10px 0 10px;
	width: 100%;
	font-size: 1em;
}

.husky-ui-select-box .arrow {
	width: 30px;
	border-left: 1px solid #bbbbbb;
	padding: 0 5px 0 5px;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNOTguOSwxODQuN2wxLjgsMi4xbDEzNiwxNTYuNWM0LjYsNS4zLDExLjUsOC42LDE5LjIsOC42YzcuNywwLDE0LjYtMy40LDE5LjItOC42TDQxMSwxODcuMWwyLjMtMi42ICBjMS43LTIuNSwyLjctNS41LDIuNy04LjdjMC04LjctNy40LTE1LjgtMTYuNi0xNS44djBIMTEyLjZ2MGMtOS4yLDAtMTYuNiw3LjEtMTYuNiwxNS44Qzk2LDE3OS4xLDk3LjEsMTgyLjIsOTguOSwxODQuN3oiLz48L3N2Zz4=');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 15px 15px;
	opacity: 70%;
}

.husky-ui-select-box, .husky-ui-button {
	cursor: pointer;
	background: #fff;
	background: -moz-linear-gradient(center top,#fff,#e2e2e2) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e2e2e2));
	background: -webkit-linear-gradient(top,#fff,#e2e2e2);
	background: -o-linear-gradient(top,#fff,#e2e2e2);
	background: -ms-linear-gradient(top,#fff,#e2e2e2);
	background: linear-gradient(top,#fff,#e2e2e2);
	user-select: none;
}

.husky-ui-button:hover {
	background: #fff3cd;
}

.husky-ui-select-box:hover, .husky-ui-select-box-active {
	background: #fff;
	background: -moz-linear-gradient(center top,#e9e9e9,#fff) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e9e9e9),color-stop(100%,#fff));
	background: -webkit-linear-gradient(top,#e9e9e9,#fff);
	background: -o-linear-gradient(top,#e9e9e9,#fff);
	background: -ms-linear-gradient(top,#e9e9e9,#fff);
	background: linear-gradient(top,#e9e9e9,#fff);
}
.husky-ui-select-box-options {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px solid #bbbbbb;
	position: absolute;
	/*width: 100%;*/
}

.husky-ui-select-box-options li {
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	padding: 0 10px 0 9px;
	background: #fff;
	display: block;
	cursor: pointer;
	user-select: none;
}

.husky-ui-select-box-options li:hover {
	background: #e9e9e9;
}
.husky-ui-select-box-wrap {
	position: relative;
}